In [ ]:
# Q.2. The rank of this matrix is = 3.
matrix = [5 3 0
         1 3 4
         -2 -4 8]

In [5]:
# Q.4 
import numpy as np
np.random.random((4,4))

array([[0.87092796, 0.4010787 , 0.06939991, 0.94172067],
       [0.04218233, 0.20455699, 0.9795849 , 0.5482271 ],
       [0.42727717, 0.09599287, 0.57940378, 0.81766839],
       [0.40852571, 0.20496663, 0.80548012, 0.1174356 ]])

In [11]:
# Q.5 convert a series to numpy array form.
import pandas as pd
arr = np.array([1,2,3,5,6])
arr

array([1, 2, 3, 5, 6])

In [12]:
pd.Series(arr)

0    1
1    2
2    3
3    5
4    6
dtype: int32

In [14]:
# Q.6 create a series with 6 random numbers and asign index value as a,b,c,d,e,f.
import pandas as pd
pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f'])

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [18]:
# Q.10 create a series using linespace and till find no find bet 0 to 16 with 4 no.
pd.Series(np.linspace(0,16,4))

0     0.000000
1     5.333333
2    10.666667
3    16.000000
dtype: float64

In [19]:
# Q.9 create a dictionary and convert it to serires and retrive the first 3 elements.
dict = {'marks1':35,'marks2':67,'marks3':56,'marks4':78}
pd.Series(dict)

marks1    35
marks2    67
marks3    56
marks4    78
dtype: int64

In [29]:
dict.values()

dict_values([35, 67, 56, 78])

In [30]:
dict.keys()

dict_keys(['marks1', 'marks2', 'marks3', 'marks4'])

In [26]:
# Q.8 create an array form of a to h and convert it to series and data frame.
import numpy as np
arr1 = np.array(['a','b','c','d','e','f','g','h'])
arr1

array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], dtype='<U1')

In [27]:
pd.Series(arr1)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
dtype: object

In [28]:
pd.DataFrame(arr1)

   0
0  a
1  b
2  c
3  d
4  e
5  f
6  g
7  h